.u-center-text{
    text-align: center;
}

.u-margin-top-2{margin-top: 2rem;}
.u-margin-top-4{margin-top: 4rem;}

.u-margin-bottom-8{
    margin-bottom: 8rem;
}

.u-margin-bottom-4{margin-bottom: 4rem;}

.u-margin-bottom-2{margin-bottom: 1.5rem;}

.u-margin-top-big{margin-top: 8rem;}