.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom:1px solid var(--color-grey-light-2) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
}

.sidebar{
    background-color: var(--color-grey-dark-1);
    flex:0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    background-color: #fff;
    flex: 1;
    height: 80rem;
    display: flex;
    flex-direction: column;
}

.details{
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 1px solid var(--color-grey-light-2);
    flex: 1;
}   

.description{
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}
.user-reviews{
    flex:1;
    display: flex;
    flex-direction:  column;
    align-items: center;
}

.review{
    position: relative;
    background-color: #fff;
    box-shadow: 0 1rem 5rem var(--color-grey-light-2);
    padding: 3rem;
    margin-bottom: 3.5rem;
    &__text{
        font-size: 1.3rem;
        margin-bottom: 1rem;
        z-index: 2;
    }

    &__user{
        display: flex;
        align-items: center;
    }

    &__photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
    }

    &__user-box{
        margin: auto;
    }

    &__user-name{
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;

    }

    &__user-date{
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__rating{
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before{
        content: "\201C";
        font-size: 12rem;
        font-family: sans-serif;
        position: absolute;
        top:-1.9rem;
        left: -0.2rem;
        color: var(--color-grey-light-2);
        z-index: 1;
    }
}