.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba($color-black, 0.8);
    z-index: 300;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        opacity:1;
        transform: translate(-50%,-50%) scale(1);
    }

    &__close{
        &:link,
        &:visited{
            color: $color-gray;
            position: absolute;
            top:2.5rem;
            right:2.5rem;
            font-size: 3rem;
            display: inline-block;
            text-decoration: none;
            line-height: 1;
        }

        &:hover{
            color: $color-primary;
        }
    }

    &__content{
        display: table;
        width: 75%;
        height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black,0.8);
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%) scale(0.5);
        transition: all ease 0.5s;
        border-radius: 3px;
        overflow: hidden;
    }

    &__left{
        width:33.3333333%;
        display: table-cell;
    }
    &__right{
        padding: 4rem;
        width:66.6666667%;
        display: table-cell;
        vertical-align: middle;
    }

    &__img{
        display: block;
        width: 99%;
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap:1.5rem ;

        column-rule: 1px solid rgb(221, 221, 221);
        hyphens: auto;
    }
}